.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    position: relative;
    height: 100%;
}
.no-product{
    margin-top:20vh;
    transform:scale(1.5)
}
@media(min-width: 768px){
    .products-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}