.product-wrapper{
    height: 150px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.product-wrapper:hover{
    transform: scale(1.025);
}

.ant-result-title{
    color: white;
}

.product-image{
    object-fit:cover;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.product-name{
    position:absolute;
    left:20px;
    bottom:10px;
    background-color: white;
    box-shadow: 15px 5px 5px rgba(0,0,0,0.25);
    padding:5px 10px ;
    font-weight: bold;
}

.hidden{
    opacity:0;
}

.visible{
    opacity:1;
}

.product-overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: opacity 0.25s ease-in-out;

}

.blur{
    filter: blur(5px);
}

.product-price{
    position:absolute;
    right:0;
    top:0;
    background-color: white;
    padding:5px 10px ;
    font-weight: bold;
}

@media (min-width: 768px) {
    .product-wrapper{
        height: 250px;
    }
}

@media (min-width: 1024px) {
    .product-wrapper{
        height: 350px;
    }
}
